<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        Logout page
        {{> button label="Label!!!"}}
    </div>
</body>
</html>